
%editor-pane {
	float: left;
	width: 50%;
	height: 100%;
	padding: 1em;
	font: {
		size: 1.5em;
	}
	box-sizing: border-box;
}


.editor {
	width: 100%;
	height: 100%;
	padding: 40px 0 0;


	&__source {
		@extend %editor-pane;
		background: #4f4f4f;
		border: none;
		font: {
			family: 'merriweather', georgia, serif;
			weight: 300;
		}
		color: #ccc;
		outline: none;
		resize: none;
	}

	&__preview {
		@extend %editor-pane;
		background: #f7f7f7;
		font: {
			family: inherit;
		}
	}
}