%blockListItemPlaceholder {

}

.postListItem {
	$elementHeight: 50px;

	display: flex;

	height: $elementHeight;
	width: 95%;
	margin: 0 2.5%;
	border: 1px solid lighten($color-black-03, 50%);
	box-sizing: border-box;


	& + .postListItem {
		margin-top: 1em;
	}

	&__newButton {
		border-color: lighten($color-black-03, 60%);
	}


	&__statusIndicator {
		$indicatorWrapperWidth: 36px;
		min-width: $indicatorWrapperWidth;
		position: relative;
		flex-shrink: 0;
		flex-basis: $indicatorWrapperWidth;

		&:before {
			$indicatorSize: 12px;
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: $indicatorSize;
			height: $indicatorSize;

			margin: $indicatorSize*-0.5 0 0 $indicatorSize*-0.5;

			background: #000;

			border-radius: 50%;
		}
	}

	&__contentWrapper {
		display: flex;
		flex-grow: 1;
		flex-direction: column;

	}

}