.window {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

// wrapper to give padding to elements to add some whitespace
.wrapper {
	float: left;
	width: 100%;
	padding: 0 1em;
	box-sizing: border-box;
}

// to wrap view content, i.e. the primary focus of the view, in some padding to separate it
// from the header and footer and similarly give it whitespace
.content {
	@extend .wrapper;
	height: 100%;
	padding-top: 40px;
	padding-bottom: 1em;
	
	&-flex {
		display: flex;
	}
}