.label {
	display: inline-block;
	border-radius: 3px;
	padding: 0.1em 0.5em;
	font-size: 0.85em;
	font-weight: 600;

	&-default {
		background: $color-black-05;
		color: $color-white;
		text-shadow: 0 1px $color-black-04;
	}

	&-blue {
		background: $color-blue-03;
		color: $color-white;
		text-shadow: 0 1px $color-blue-02;
	}

	&-yellow {
		background: $color-yellow-03;
		color: $color-white;
		text-shadow: 0 1px $color-yellow-02;
	}

	&-red {
		background: $color-red-03;
		color: $color-white;
		text-shadow: 0 1px $color-red-02;
	}

	&-green {
		background: $color-green-03;
		color: $color-white;
		text-shadow: 0 1px $color-green-02;
	}
}