

<div class="header" ng-controller="HeaderCtrl">
	<button class="button button-clear" ng-click="toggleMenu()"><i class="fa fa-bars"></i></button>

	<div class="header__Title">
		<div class="header__Logo"></div>
	</div>
	
	<mo-dropdown class="header__User">
		<button class="dropdown__Link button button-clear">{{ user.email }} <i class="fa fa-angle-down"></i></button>
		<div class="dropdown dropdown__Target">
			<button class="button button-red button-block" ng-click="logout()">Log out</button>
		</div>
	</mo-dropdown>
</div>