

$toolbar-height: 50px;

%editor-pane {
	float: left;
	width: 50%;
	height: 100%;
	font: {
		size: 1.25em;
	}
	box-sizing: border-box;

	&.full-screen {
		width: 100%;
	}
}


.editor {
	width: 100%;
	height: 100%;
	padding: 40px 0 0;
	box-sizing: border-box;

	&__toolbar {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: $toolbar-height;
		padding: 0 1em;
		background: $color-black-03;

		border-bottom: 1px solid rgba($color-black-04, 0.5);

		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__editPostTitle {
		display: flex;
		flex-grow: 1;
		&>input {
			flex-grow: 1;
		}

		&>button {
			margin: 0 0 0 0.5em;
			flex-shrink: 0;
		}

	}

	&__postTitle {
		font-size: 2.4rem;
		color: $color-white;
	}

	&__source {
		@extend %editor-pane;
		position: relative;
		background: $color-black-03;
		font: {
			family: 'merriweather', georgia, serif;
			weight: 300;
		}
		color: $color-black-07;
	}

	&__sourceInput {
		padding: $toolbar-height+10px 1em 1em;
		width: 100%;
		height: 100%;
		background: transparent;
		border: none;
		outline: none;
		resize: none;
		box-sizing: border-box;
	}

	&__preview {
		@extend %editor-pane;

		padding: 1em;
		overflow-y: auto;
		background: $color-black-10;
		font: {
			family: inherit;
		}
	}
}