

$toolbar-height: 50px;

%editor-pane {
	float: left;
	width: 50%;
	height: 100%;
	font: {
		size: 1.25em;
	}
	box-sizing: border-box;

	transition: 0.25s width ease-in-out;

	&.full-screen {
		width: 100%;
	}

	&.closed {
		width: 0;
	}
}


.editor {
	width: 100%;
	height: 100%;
	padding: 40px 0 0;
	box-sizing: border-box;

	transition: 0.1s transform ease-in-out;
	transform: translate3d(0,0,0);


	&.menu-open {
		transform: translate3d(300px,0,0);
	}

	&__Toolbar {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: $toolbar-height;
		padding: 0 1em;

		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&-black {
			background: $color-black-03;
			border-bottom: 1px solid rgba($color-black-04, 0.5);
		}



	}

	&__ToolbarInteraction {
		flex-shrink: 0;
	}

	&__EditPostTitle {
		display: flex;
		flex-grow: 1;
		&>input {
			flex-grow: 1;
		}

		&>button {
			margin: 0 0 0 0.5em;
			flex-shrink: 0;
		}

	}

	&__PostTitle {
		font-size: 2.4rem;
		color: $color-white;
		overflow-x: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	&__Source {
		@extend %editor-pane;
		position: relative;
		background: $color-black-03;
		font: {
			family: 'merriweather', georgia, serif;
			weight: 300;
		}
		color: $color-black-07;
	}

	&__SourceInput {
		padding: $toolbar-height+10px 1em 1em;
		width: 100%;
		height: 100%;
		background: transparent;
		border: none;
		outline: none;
		resize: none;
		box-sizing: border-box;
	}

	&__Preview {
		@extend %editor-pane;
		position: relative;
		background: $color-black-10;
	}


	&__PreviewContent {

		width: 100%;
		height: 100%;

		padding: $toolbar-height - 10px 1em 1em;
		overflow-y: auto;
		box-sizing: border-box;
		font: {
			family: inherit;
		}
	}
}