.header {
	$height: 40px;

	position: absolute;
	top: 0;
	z-index: 1001;
	width: 100%;
	height: $height;
	background: $color-black-02;
	color: $color-white;

	display: flex;
	align-items: center;
	justify-content: space-between;



	&__appTitle {
		float: left;
		margin: 0;
		font: {
			size: 1.5em;
			weight: 600;
		}
		line-height: $height;

	}

	&__buttons {
		float: right;
	}

	&__Logo {
		position: absolute;
		left: 50%;
		top: 0;
		width: $height;
		height: $height;
		margin: 0 0 0 $height*-0.5;
		background: url('/assets/images/logo.svg') no-repeat center;
	}
}