.header {
	$height: 40px;

	position: absolute;
	top: 0;
	width: 100%;
	height: $height;
	background: $color-black-02;
	color: $color-white;

	display: flex;
	align-items: center;



	&__appTitle {
		float: left;
		margin: 0;
		font: {
			size: 1.5em;
			weight: 600;
		}
		line-height: $height;

	}

	&__buttons {
		float: right;
	}
}