

$color-white: #ffffff;

// blacks
$color-black-01: #3c434c;
$color-black-02: #49535f;
$color-black-03: #5a6370;
$color-black-04: #7c8794;
$color-black-05: #939aa3;
$color-black-06: #acb5bf;
$color-black-07: #c7cfd9;
$color-black-08: #dadfe5;
$color-black-09: #e7ecf2;
$color-black-10: #f6f6f7;

// blues
$color-blue-01: #02627d;
$color-blue-02: #1b8cb5;
$color-blue-03: #22add5;
$color-blue-04: #57d0f2;
$color-blue-05: #a1e4f7;
$color-blue-06: #e0f8ff;

// greens
$color-green-01: #678c23;
$color-green-02: #8ab23e;
$color-green-03: #adcc63;
$color-green-04: #c7e58e;
$color-green-05: #e1f2c2;
$color-green-06: #f6ffe5;

// reds
$color-red-01: #99393d;
$color-red-02: #b65053;
$color-red-03: #cd6166;
$color-red-04: #e68388;
$color-red-05: #f7babc;
$color-red-06: #ffe0e2;

// yellows
$color-yellow-01: #cc9a1d;
$color-yellow-02: #e5b437;
$color-yellow-03: #ffcf56;
$color-yellow-04: #ffda7c;
$color-yellow-05: #ffe6a6;
$color-yellow-06: #fff1cc;