<div ng-include="'components/menu/menu.view.html'"></div>
<div class="window" ng-class="{'menu-open': !!menu}">
	<div ng-include="'views/partials/nav.view.partial.html'"></div>

	<div class="editor">
		<div class="editor__Source">
			<div class="editor__Toolbar">

				<span class="editor__PostTitle" ng-hide="editTitleActive" ng-click="startTitleEdit()">{{ post.title }}</span>
				<form class="editor__EditPostTitle" ng-submit="saveTitleEdit()" ng-show="editTitleActive">
					<input class="input" type="text" placeholder="Give the post a title" ng-model="post.title">
					<button class="button button-inverse" type="button" ng-click="cancelTitleEdit()"><i class="fa fa-close"></i></button>
					<button class="button button-blue" type="submit">Save</button>
				</form>

				<div class="editor__ToolbarInteraction">
					<mo-dropdown ng-if="!!post.attrs">
						<button class="button button-clear dropdown__Link"><i class="fa fa-gear"></i></button>
						<div class="dropdown dropdown__Target">
							<div class="dropdown__Block">
								<span class="dropdown__BlockTitle">status</span>
								<span class="label label-{{ getPostLabelColor() }}">{{ getPostLabelText() }}</span>
							</div>
							<div class="dropdown__Block">
								<span class="dropdown__BlockTitle">status</span>
								<select class="input" ng-model="post.category">
									<option value="blog">blog</option>
									<option value="press">press</option>
								</select>
							</div>
							<div class="dropdown__Footer">
								<button class="button button-blue" ng-click="publishDraft()" ng-if="!post.attrs.is_published">Save draft</button>
								<button class="button button-green" ng-click="publishLive()" ng-if="user.permissions.can_publish && post.attrs.is_draft && post.attrs.is_published">Publish</button>
								{{ user.permissions.can_publish }}
								{{ post.attrs.is_draft }}
								{{ post.attrs.is_published }}
							</div>
						</div>
					</mo-dropdown>
					<mo-dropdown>
						<button class="button button-clear dropdown__Link"><i class="fa fa-font"></i></button>
						<div class="dropdown dropdown__Target">
							<button class="button button-clear" ng-click="formatText('bold')"><i class="fa fa-bold"></i></button>
							<button class="button button-clear" ng-click="formatText('italic')"><i class="fa fa-italic"></i></button>
							<button class="button button-clear" ng-click="formatText('header')"><i class="fa fa-header"></i></button>
							<button class="button button-clear"><i class="fa fa-link"></i></button>
						</div>
					</mo-dropdown>

					<button class="button button-clear"><i class="fa fa-expand"></i></button>
				</div>

			</div>

			<textarea class="editor__SourceInput mousetrap" id="edit-source" ng-model="post.text"></textarea>
		</div>

		<div class="editor__Preview" ng-bind-html="postPreview"></div>
	</div>
</div>
