
<div class="window">
	<div ng-include="'views/partials/nav.view.partial.html'"></div>

	<div class="content content-flex">

		<div class="col-xs-6">
			<div class="postList__wrapper">
				<div class="postListItem postListItem__newButton">

				</div>
				<div class="postListItem postList__post" ng-repeat="post in posts" ng-click="goto(post)">
					<div class="postListItem__contentWrapper">
						<div class="postListItem__name">{{ post.title }}</div>
						<div class="postListItem__meta">
							<span class="postListItem__contributor">
								{{ post.meta.author.name.first }} {{ post.meta.author.name.last }}
							</span>
							<span class="postListItem__contributor" ng-repeat="postContributor in post.meta.contributors">
								{{ postContributor.name.first }} {{ postContributor.name.last }}
							</span>
							<div class="postListItem__edited"></div>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>
</div>
